*, *:before, *:after{
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #3A606E;
  font-family: 'Black Han Sans', sans-serif;
}

button{
  display: inline-block;
  width: auto;
  padding: .875rem 1.5rem;
  border: 0;
  background-color: #607B7D;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 1rem 1rem;
  background-color: #E0E0E0;
  overflow: hidden;
}

.brand{
  display: block;
  float: left;
  color: #3A606E;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

.hidden{
  display: none;
  height: 0;
  min-height: 0;
}

.app-controls{
  float: right;
}

.app-controls *{
  display: inline-block;
  margin-top: .25rem;
  margin-left: .5rem;
}

.app-controls button{
  padding: .325rem .5rem;
  font-size: .875rem;
}

main{
  height: 100%;
  padding: 2rem;
}

.start-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #3a606e;
  z-index: 1000;
}

.start-container-inner{
  max-width: 90%;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

@media screen and (min-width: 40rem){
  .start-container-inner{
    max-width: 70%;
  }
}

@media screen and (min-width: 50rem){
  .start-container-inner{
    max-width: 60%;
  }
}

.start-container h1{
  font-size: 3rem;
  color: #fff;
  letter-spacing: 2px;
}

@media screen and (min-width: 40rem){
  .start-container h1{
    font-size: 4.5rem;
    color: #fff;
    letter-spacing: 2px;
  }
}

.start-container button{
  padding: 1rem 3rem;
  background-color: transparent;
  border: 4px solid #fff;
}

.card-container{
  position: relative;
  width: 90%;
  height: 70%;
  margin: 6rem auto 0;
  border: 1px dotted #3A606E;
  perspective: 800px;
}

@media screen and (min-width: 40rem){
  .card-container{
    width: 300px;
    height: 400px;
  }
}

.random-switch-control{
  margin: 0 auto 2rem;
  text-align: center;
}

.random-switch-control span[type=checkbox]{
  display: inline-block;
}

.in-order-label{
  display: inline-block;
  padding: .5rem .5rem 0 0;
}

.random-label{
  display: inline-block;
  padding: .5rem 0 0 .5rem;
}

.card{
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card button{
  display: block;
  width: 100%;
  margin-top: .5rem;
}

.card > div {
  margin: 0;
  padding: 2rem;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-back {
  transform: rotateY( 180deg );
}

.card.flipped {
  transform: rotateY( 180deg );
}

.problem{
  width: 10rem;
  list-style: none;
  margin: 0 auto;
  padding: 1rem 0 .5rem;
  text-align: right;
}

@media screen and (min-height: 30rem){
  .problem{ border-bottom: 2px solid #000;}
}

.problem li{
  display: inline-block;
  font-size: 4rem;
  line-height: 1.1;
}

@media screen and (min-height: 30rem){
  .problem li{
    display: block;
  }
}

.multiplicand:before{
  display: block;
  float: left;
  content: "\00d7";
}

.user-answer-form{
  width: 9rem;
  margin: 1rem auto;
}

.user-answer-form button[type=submit]{
  width: 100%;
}

.user-answer{
  width: 100%;
  padding: .5rem .25rem;
  border: 0;
  background-color: #E0E0E0;
  font-size: 3rem;
  font-family: inherit;
  text-align: right;
}

.card-answer{
  display: none;
}

.card-response{
  display: block;
  padding: 2rem 0;
  font-size: 2.5rem;
}

.results-container{
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  overflow: hidden;
  transition: all .3s ease-out;
}

.results-container-inner{
  max-width: 60%;
  margin: auto;
  padding: 2rem;
}

.answered-problems, .unanswered-problems{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -.25rem;
  padding: 0;
}

.results-container li{
  width: auto;
  margin: .25rem;
  padding: .5rem .25rem;
  text-align: center;
}

@media screen and (min-width: 60rem){
  .results-container li{
    width: 10%;
  }
}

.answered{
  background-color: #B1B695;
}

.unanswered{
  background-color: #FCD0A1;
}
